/*-------------------------------VC_COMPOSER-------------------------------*/
.wpb_column.vc_col-xs-1,
.wpb_column.vc_col-xs-2,
.wpb_column.vc_col-xs-3,
.wpb_column.vc_col-xs-4,
.wpb_column.vc_col-xs-5,
.wpb_column.vc_col-xs-6,
.wpb_column.vc_col-xs-7,
.wpb_column.vc_col-xs-8,
.wpb_column.vc_col-xs-9,
.wpb_column.vc_col-xs-10,
.wpb_column.vc_col-xs-11,
.wpb_column.vc_col-xs-12{
    float: right;
    text-align: right;
}
@media (min-width: 768px) {
    .wpb_column.vc_col-sm-1,
    .wpb_column.vc_col-sm-2,
    .wpb_column.vc_col-sm-3,
    .wpb_column.vc_col-sm-4,
    .wpb_column.vc_col-sm-5,
    .wpb_column.vc_col-sm-6,
    .wpb_column.vc_col-sm-7,
    .wpb_column.vc_col-sm-8,
    .wpb_column.vc_col-sm-9,
    .wpb_column.vc_col-sm-10,
    .wpb_column.vc_col-sm-11,
    .wpb_column.vc_col-sm-12{
        float: right;
        text-align: right;
    }
}
@media (min-width: 992px) {
    .wpb_column.vc_col-md-1,
    .wpb_column.vc_col-md-2,
    .wpb_column.vc_col-md-3,
    .wpb_column.vc_col-md-4,
    .wpb_column.vc_col-md-5,
    .wpb_column.vc_col-md-6,
    .wpb_column.vc_col-md-7,
    .wpb_column.vc_col-md-8,
    .wpb_column.vc_col-md-9,
    .wpb_column.vc_col-md-10,
    .wpb_column.vc_col-md-11,
    .wpb_column.vc_col-md-12{
        float: right;
        text-align: right;
    }
}
@media (min-width: 1200px) {
    .wpb_column.vc_col-lg-1,
    .wpb_column.vc_col-lg-2,
    .wpb_column.vc_col-lg-3,
    .wpb_column.vc_col-lg-4,
    .wpb_column.vc_col-lg-5,
    .wpb_column.vc_col-lg-6,
    .wpb_column.vc_col-lg-7,
    .wpb_column.vc_col-lg-8,
    .wpb_column.vc_col-lg-9,
    .wpb_column.vc_col-lg-10,
    .wpb_column.vc_col-lg-11,
    .wpb_column.vc_col-lg-12{
        float: right;
        text-align: right;
    }
}
/*--------------------------------WISHLIST---------------------------------*/
.wishlist_table tr td.product-thumbnail,
.wishlist_table tr td.product-name,
.wishlist_table tr td.wishlist-name,
.wishlist_table tr td.wishlist-privacy,
.woocommerce table.wishlist_table tfoot td{
    text-align: right;
}
/*--------------------------------OVIC MENU--------------------------------*/
.ovic-menu li>a>.icon{
    margin-right: 0;
    margin-left: 10px;
}
.ovic-menu-clone-wrap{
    right: -320px;
    left: auto;
}
.ovic-menu-clone-wrap.open{
    right: 0;
    left: auto;
}
.ovic-menu-panels-actions-wrap .ovic-menu-close-btn,
.ovic-menu-panels-actions-wrap .ovic-menu-prev-panel{
    left: 0;
    right: auto!important;
    border-right: 1px solid #e6e6e6;
}
.ovic-menu-panels-actions-wrap .ovic-menu-prev-panel{
    right: 0;
    left: auto!important;
    border-left: 1px solid #e6e6e6;
}
.ovic-menu-panels-actions-wrap .ovic-menu-prev-panel:before{
    content: '\f105'!important;
}
.ovic-menu-next-panel{
    right: auto!important;
    left: 0;
}
.ovic-menu-next-panel:before{
    content: '\f104'!important;
}
.ovic-menu-clone-wrap .ovic-menu-panel.ovic-menu-sub-panel:not(.ovic-menu-panel-opened){
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
}
.main-menu > .menu-item-has-children > a::after{
    right: auto;
    left: -10px;
}
.main-menu > .menu-item > a .icon-image{
    right: auto;
    left: -9px;
}
@media (max-width: 1199px) {
    .ovic-custommenu.style05 .ovic-custommenu-open-sub-menu{
        right: auto;
        left: 0;
    }
}
/*----------------------------------THEMES---------------------------------*/
ul, ol{
    padding-left: 0;
    padding-right: 16px;
}
/* product page */
.product-item[class^="col-xs-"],
.product-item[class*=" col-xs-"]{
    float: right;
}
@media (min-width: 768px){
    .product-item[class^="col-sm-"],
    .product-item[class*=" col-sm-"]{
        float: right;
    }
}
@media (min-width: 992px){
    .product-item[class^="col-md-"],
    .product-item[class*=" col-md-"]{
        float: right;
    }
}
@media (min-width: 1200px){
    .product-item[class^="col-lg-"],
    .product-item[class*=" col-lg-"]{
        float: right;
    }
}
@media (min-width: 1500px){
    .product-item[class^="col-bg-"],
    .product-item[class*=" col-bg-"]{
        float: right;
    }
}
@media (max-width: 479px){
    .product-item[class^="col-ts-"],
    .product-item[class*=" col-ts-"]{
        float: right;
    }
}
/* product single */
.flex-viewport{
    direction: ltr;
}
@media (min-width: 992px) {
    .left-sidebar .main-content {
        float: left;
    }
}
/*----------------
    HEADER
----------------*/
.mfp-content .mfp-close{
    left: 24px;
    right: auto;
}
.header-nav .main-menu{
    text-align: right;
}
.main-menu > .menu-item{
    float: right;
}
.main-menu > .menu-item:first-child{
    padding-right: 0;
    padding-left: 13px;
}
.main-menu > .menu-item:last-child{
    padding-right: 13px;
    padding-left: 0;
}
.main-menu > .menu-item-has-children > a::after{
    margin-left: 0;
    margin-right: 5px;
}
.header-control{
    text-align: left;
}
.header-control > *{
    margin-left: 0;
    margin-right: 18px;
}
.header-control > *:first-child{
    margin-left: 0;
    margin-right: 0;
}
.top-bar-menu{
    float: right;
}
.top-bar-menu.right{
    float: left;
}
.top-bar-menu:not(.right) > *{
    margin-right: 0;
    margin-left: 35px;
}
.block-userlink .woo-wishlist-link span.text{
    margin-left: 0;
    margin-right: 5px;
}
.top-bar-menu.right > * > a, .top-bar-menu.right > * a.wcml-cs-item-toggle{
    margin-left: 0;
    margin-right: 15px;
}
.top-bar-menu .socials-list a{
    margin-left: 5px;
    margin-right: 0;
}
.top-bar-menu .socials-list span:last-child a{
    margin-left: 0;
}
.box-header-info{
    text-align: left;
}
.header .box-search .btn-submit{
    right: auto;
    left: 0;
}
.header .block-search input{
    text-align: right;
    padding-left: 65px;
}
.box-header-info .header-middle-info{
    padding-left: 0;
    padding-right: 90px;
}
.middle-info > *{
    text-align: right;
}
.middle-info .icon{
    padding-right: 0;
    padding-left: 7px;
}
.block-nav-category .block-title .before{
    margin-right: 0;
    margin-left: 20px;
}
.block-nav-category .block-title:after{
    right: auto;
    left: 20px;
}
.group-cart-link{
    float: right;
    border-radius: 30px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.block-cart-link .link-dropdown .text-btn{
    border-radius: 30px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.block-cart-link .group-cart-link > :first-child{
    margin-right: 0;
    margin-left: 12px;
}
.block-nav-category .block-content{
    text-align: right;
}
.block-nav-category .vertical-menu .menu-item > a .icon{
    margin-right: 0!important;
}
.block-nav-category .vertical-menu > .menu-item-has-children > a::after, 
.block-nav-category .vertical-menu > .menu-item > .sub-menu:not(.megamenu) .menu-item-has-children > a::after{
    float: left;
    content: '\f104';
}
.block-nav-category .vertical-menu > .menu-item > .sub-menu{
    left: auto;
    right: calc(100% + 20px);
}
.block-nav-category .vertical-menu > .menu-item > .sub-menu:before{
    right: auto;
    left: 100%;
}
.block-nav-category .view-all-category a::after{
    margin-left:0;
    margin-right: 10px;
}
.header-mobile .header-control .block-menu-bar{
    margin-left: 0;
    margin-right: 10px;
}
.ovic-menu-panel li > a > .icon{
    margin-right: 0!important;
    margin-left: 10px;
}
.header-mobile .header-settings .sub-menu{
    text-align: right;
}
.header-mobile .header-control .btn-submit{
    right: auto;
    left: 0;
    border-radius: 30px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.header .header-mobile .form-content input{
    padding-left: 63px;
    padding-right:0;
}
.header.style-2 .block-cart-link .link-dropdown .text{
    margin-left: 0;
    margin-right: 10px;
}
.header.style-2 .block-cart-link .link-dropdown .count{
    left: auto;
    right: 12px;
}
.header.style-2 .block-wishlist .woo-wishlist-link .wishlist-count{
    right: auto;
    left: -11px;
}
.header.style-2 .top-bar-menu > * > a,
.header.style-2 .top-bar-menu > * a.wcml-cs-item-toggle{

}
.header.style-2 .top-bar-menu:not(.right) > li:first-child,
.header.style-4 .top-bar-menu:not(.right) > li:first-child{
    margin-left: 0;
}
.header.style-2 .top-bar-menu:not(.right) > *:first-child > a{
    padding-left: 20px;
    padding-right: 0;
}
.header.style-4 .top-bar-menu:not(.right) > li:first-child > a:before,
.header.style-4 .top-bar-menu.right > a:after,
.header.style-2 .top-bar-menu:not(.right) > li:first-child > a:before{
    right: auto;
    left: 0;
}
.header.style-2 .top-bar-menu > * > a:before,
.header.style-2 .top-bar-menu > * a.wcml-cs-item-toggle:before,
.header.style-4 .top-bar-menu:not(.right) > *:first-child > a:before,
.header.style-4 .top-bar-menu.right > a:after,
.header.style-4 .top-bar-menu.right > a:before{
    left: auto;
    right: 0;
}
.form-search-mobile.open .icon,
.form-search-mobile .block-search .btn-submit{
    right: auto;
    left: 0;
}
.header.style-2 .top-bar-menu.right > *:last-child > a{
    padding-right: 20px;
    padding-left: 0;
}
.top-bar-menu > .menu-item > .sub-menu,
.ovic-dropdown > .sub-menu,
.wcml-dropdown .wcml-cs-submenu{
    left: 0;
    right: auto;
}
.block-userlink .sub-menu,
.ovic-dropdown.block-userlink > .sub-menu,
.top-bar-menu > .menu-item.block-userlink:not(:hover) > .sub-menu{
    text-align: right;
}
/**header-style-2**/
.header.style-2 .box-header-nav{
    padding-left: 0;
    padding-right: 160px;
}
.header.style-1 .box-header-nav{
    padding-right: 0;
}
.header.style-2 .vertical-wrapper+.block-search{
    padding-left: 0;
    padding-right: 30px;
}
.header.style-2 .header-middle-info{
    float: left;
}
.chosen-container-single .chosen-single div{
    right: auto;
    left: 0;
}
.header.style-2 .chosen-container-single .chosen-single,
.header.style-2 .chosen-container-active.chosen-with-drop .chosen-single{
    border-right: none;
    border-left: 1px solid #e6e6e6;
}
@media (max-width: 1199px) {
    .header.style-2 .vertical-wrapper+.block-search{
        padding-right: 5px;
    }
}
/*----------------
    BLOG
----------------*/
.post-info .post-meta .post-meta-group{
    float: left;
    padding-left: 0;
    padding-right: 0;
}
.post-info .post-meta .post-meta-group > *:first-child{
    padding-left: 0;
    margin-right: 0;
    margin-left: 28px;
}
.post-style3 .post-info .post-content-group .comment-count,
.blog-new .post-read-more .comment-count{
    padding-left: 0;
    padding-right: 4px;
    margin-left: 8px;
    margin-right: 12px;
}
.post-style3 .post-info .post-content-group .comment-count:before,
.blog-new .post-read-more .comment-count:before{
    right: 0;
    left: auto;
}
.post-style3 .post-info .post-content-group .sl-button .count,
.blog-new .post-read-more .sl-button .count,
.post-style3 .post-info .post-content-group .comment-count > *:not(i),
.blog-new .post-read-more .comment-count > *:not(i){
    right: auto;
    left: -14px;
}
.ovic-share-socials .list-social{
    right: auto;
    left: 20px;
}
.post-info .post-meta .sl-button .count{
    float: right;
    margin-right: 0;
    margin-left: 5px;
}
.post-meta .post-meta-group .comment-count i{
    margin-left: 0;
    margin-right: 4px;
}
.post-style3 .post-info .post-content-group .icon-images,
.post-style2 .post-info .sl-wrapper .icon-images,
.post-style4 .post-info .sl-wrapper .icon-images,
.blog-new .post-read-more .icon-images{
    background-position: center right;
}
blockquote{
    margin: 23px 100px 23px 0;
    border-right-width: 3px;
    border-right-style: solid;
    border-right-color: #7faf51;
}
.related-post .info .metas i{
    margin-right: 0;
    margin-left: 4px;
}
.related-post .info .metas > *:first-child{
    padding-right: 0;
    padding-left: 10px;
}
.block-cart-link .link-dropdown .count{
    left: auto;
    right: 9px;
}
.block-cart-link .link-dropdown .total span{
    margin-left: 0;
    margin-right: 4px;
}
.block-minicart .widget_shopping_cart{
    right: auto;
    left: 0;
    text-align: right;
}
.widget_shopping_cart .woocommerce-mini-cart li img{
    float: right;
    margin-right: 0;
    margin-left: 10px;
}
.widget_shopping_cart .woocommerce-mini-cart li .remove{
    left: auto;
    right: 2px;
}
.widget_shopping_cart .total .amount{
    padding-left: 0;
    padding-right: 5px;
}
.widget_shopping_cart .widget_shopping_cart_content .buttons>*{
    margin-right: 0;
    margin-left: 15px;
}
.widget_shopping_cart .widget_shopping_cart_content .buttons>.button.checkout{
    margin-left: 0;
}
.header .box-search .block-search{
    right: auto;
    left: 18px;
}
.header .form-content{
    right: auto;
    left: 0;
}
.blog-new ~ .post-comments .comments-title,
.blog-new ~ .post-comments .comment-respond .comment-reply-title{
    text-align: right;
}
.blog-new.blog-single01 .post-socials .post-author{
    margin-left: 45px;
    margin-right: 0;
}
.blog-new.blog-single01 .post-socials-sharing{
    float: left;
}
.blog-single01.blog-new blockquote:before{
    transform: rotateY(180deg);
}
@media (max-width: 767px) {
    blockquote{
        margin-right: 0;
    }
}
@media (max-width: 479px) {
    .blog-new.blog-single01 .post-socials .post-author{
        display: block;
        margin-bottom: 15px;
    }
    .blog-new.blog-single01 .post-socials-sharing{
        float: none;
    }
}
/*----------------
    PAGINATION
----------------*/
.grid-view-mode{
    float: left;
}
.grid-view-mode .modes-mode{
    margin-left: 0;
    margin-right: 9px;
}
.shop-before-control .text-item{
    padding-right: 0;
    padding-left: 10px;
}
.shop-control-item select{
    background-position: center left;
}
.woocommerce-pagination .page-numbers.prev::before, .navigation.pagination .page-numbers.prev::before, .woocommerce-pagination .page-numbers.next::after, .navigation.pagination .page-numbers.next::after{
    content: "\f104";
}
.woocommerce-pagination .page-numbers.prev::before, .navigation.pagination .page-numbers.prev::before{
    content: "\f105";
}
/*----------------
    WIDGET
----------------*/
.widgettitle .arrow{
    float: left;
}
.widget_search .search-submit{
    right: auto;
    left: 0;
}
.widget_search .search-field{
    padding-left: 56px;
    padding-right: 40px;
}
.tagcloud a{
    margin: 0 0 10px 5px;
}
.widget_layered_nav .color-group > *{
    margin-right: 0;
    margin-left: 15px;
}
.widget_layered_nav .color-group > * i, .entry-summary .cart .variations .data-val a{
    float: right;
    margin-right: 0;
    margin-left: 9px;
}
.ovic_widget_layered_nav .inline-group a:before{
    margin: 0px 0 -2px 11px;
}
.ovic_widget_layered_nav .inline-group a:after, .widget_layered_nav .color-group .term-color:after{
    left: auto;
    right: 9px;
}
.ovic_widget_layered_nav .inline-group a:after{
    left: auto;
    right: 3px;
}
.price_slider_wrapper .price_slider_amount .button{
    float: left;
}
.widget-recent-post .blog-item .post-info .post-meta .date{
    margin-right: 0;
    margin-left: 17px;
}
.widget-twitter .tweet .tweet-info{
    padding-left: 0;
    padding-right: 10px;
}
/*----------------
  PRODUCT-STYLE
----------------*/
.product-item .product-info ul{
    padding-right: 0;
}
.star-rating::before, .star-rating > span::before{
    float: right;
}
.star-rating > span{
    left: auto;
    right: 0;
}
.yith-wcwl-add-to-wishlist{
    right: auto;
    left: 15px;
}
.product-item.list .product-thumb{
    margin-right: 0;
    margin-left: 18px;
}
.product-item.list .title-category ul{
    padding-right: 0;
}
.product-item.list .yith-wcqv-button{
    right: auto;
    left: 10px;
}
.product-item.list .product-info{
    float: left;
    border-left:none;
    border-right: 1px solid #e6e6e6;
    padding: 5px 20px 35px 0;
}
.product-item.list .group-button .inner > *{
    margin-right: 0;
    margin-left: 10px;
}
.product-item .group-button .inner > *:last-child{
    margin-left: 0;
}
.product-item.style-2 .product-thumb{
    float: right;
    margin-right: 0;
    margin-left: 10px;
}
.product-item .price ins{
    float: right;
    margin-right: 0;
    margin-left: 6px;
}
.product-item.style-5 .add-to-cart a{
    padding:0 45px;
}
.product-item.style-1.style-6 .yith-wcqv-button{
    right: auto;
    left: 8px;
}

/*----------------
  PRODUCT-SINGLE
----------------*/
.woocommerce-product-gallery{
    float: right;
}
.entry-summary{
    padding-left: 0;
    padding-right: 20px;
}
.entry-summary .left_summary_content{
    float: right;
    padding-right: 0;
    padding-left: 60px;
}
.quantity .btn-number{
    right: auto;
    left: 20px;
}
.entry-summary .single-payment{
    padding-right: 0;
}
.entry-summary .single-payment li{
    margin-right: 0;
    margin-left: 12px;
}
.entry-summary .single-payment li:last-child{
    margin-left: 0;
}
.entry-summary .yith-wcwl-add-to-wishlist, .entry-summary .compare{
    float: right;
    margin: 15px 0 0 55px;
}
.entry-summary .compare{
    margin-left: 0;
}
.entry-summary .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse a::before,
.entry-summary .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse a::before,
.entry-summary .yith-wcwl-add-to-wishlist a::before, .entry-summary .compare::before{
    margin-right: 0;
    margin-left: 3px;
}
.entry-summary .compare::before{
    margin-right: 0;
    margin-left: 3px;
}
.variations select{
    background-position: center left;
}
#yith-quick-view-content div.images{
    float: right;
}
#yith-quick-view-content .onsale{
    left: auto;
    right: 0;
    float: right;
}
.entry-summary .price ins{
    float: right;
    margin-right: 0;
    margin-left: 7px;
}
#yith-quick-view-modal div.entry-summary{
    margin-left: 0;
    margin-right: 20px;
    text-align: right;
}
#yith-quick-view-modal .entry-summary .quantity{
    margin-right: 0;
    margin-left: 15px;
}
.entry-summary .ovic-share-socials a{
    margin: 0 0 5px 4px;
}
#yith-quick-view-content .slider-for{
    direction: ltr;
}
[dir='rtl'] #yith-quick-view-content .slider-for .slick-slide{
    float: left;
}
#yith-quick-view-close{
    right: auto;
    left: 4px;
}
.wc-tabs li{
    margin-right: 0;
    margin-left: 39px;
}
.wc-tabs li:last-child{
    margin-left: 0;
}
.wc-tabs li a:after{
    left: auto;
    right: 0;
}
.woocommerce-Tabs-panel .comment-form-rating > label{
    margin-right: 0;
    margin-left: 10px;
}
.woocommerce-Tabs-panel .comment-respond .comment-form .form-submit{
    text-align: right;
}
.entry-summary .yith-wcwl-add-to-wishlist .yith-wcwl-add-button > img{
    margin-left: 0;
    margin-right: 0;
    margin-top: 5px;
}
.woocommerce-product-gallery__trigger{
    right: auto;
    left: 10px;
}

@media (min-width: 1200px) {
    .single-thumb-vertical .has-sidebar .woocommerce-product-gallery,
    .single-thumb-horizontal .has-sidebar .woocommerce-product-gallery{
        float: right;
    }
    .single-thumb-vertical .has-sidebar .entry-summary,
    .single-thumb-horizontal .has-sidebar .entry-summary{
        padding-left: 0;
        padding-right: 20px;
    }
    .single-thumb-vertical .has-sidebar .entry-summary .left_summary_content,
    .single-thumb-horizontal .has-sidebar .entry-summary .left_summary_content{
        padding-left: 20px;
        padding-right: 20px;
    }
}
/*----------------
    CHECKOUT
----------------*/
.woocommerce-cart-form .shop_table th.product-thumbnail{
    border-left: none;
}
.woocommerce-cart-form .shop_table th.product-name{
    text-align: right;
    border-right: none;
}
.woocommerce .cart-collaterals{
    margin-left: 0;
    margin-right: 30px;
}
.cart-collaterals .shop_table td{
    text-align: left;
}
.woocommerce-cart-form .shop_table .actions .coupon{
    float: right;
}
.woocommerce-cart-form .shop_table .actions > .button{
    padding: 10px 40px;
}
.woocommerce-cart-form .shop_table .coupon .input-text{
    margin-right: 0;
    margin-left: 15px;
}
.woocommerce-cart-form .shop_table .actions > .button,
.woocommerce form .form-row-last, .woocommerce-page form .form-row-last{
    float: left;
}
.col2-set .col-1, .col2-set .col-2{
    float: right;
}
.col2-set .col-2{
    float: left;
}
.wc_payment_method .input-radio{
    float: right;
    margin-right: 0;
    margin-left: 10px;
}
#add_payment_method #payment div.payment_box:before, .woocommerce-checkout #payment div.payment_box:before{
    left: auto;
    right: 0;
    margin: -1em 2em 0 0;
}
.woocommerce .woocommerce-MyAccount-navigation{
    float: right;
    margin-right: 0;
    margin-left: 30px;
}
.woocommerce .woocommerce-MyAccount-navigation>ul{
    padding-right:20px;
    padding-left: 0;
}
.woocommerce .woocommerce-error .button, .woocommerce .woocommerce-info .button, .woocommerce .woocommerce-message .button{
    float: left;
}
/*----------------
    SHORT-CODE
----------------*/
/**BLOG**/
.post-thumb .post-date{
    left: auto;
    right: 10px;
}
.post-style2 .post-author .avatar{
    margin-right: 0;
    margin-left: 5px;
}
.post-style2 .post-info .post-meta .post-meta-group > *{
    padding-right: 9px;
    padding-left: 0;
}
.post-style2 .post-info .post-meta .post-meta-group > *:first-child{
    margin-left: 28px;
    margin-right: 0;
}
.ovic-blog-style2 .title a{
    float: left;
}
.ovic-blog-style3 .slick-slider .slick-arrow{
    left: 0;
    right: auto;
}
.ovic-blog-style3 .slick-slider .slick-arrow.next{
    right: auto;
    left: 22px;
}
.post-style2.post-style4 {
    text-align: right;
}
/**ICON-BOX**/
.ovic-iconbox.style2 .box-icon{
    float: right;
    margin-right: 0;
    margin-left: 8px;
}
.ovic-iconbox.style2.text_right .box-icon{
    float: left;
    margin: 0 8px 0 0;
}
.ovic-iconbox.style2.text_right .content{
    text-align: left;
}
.ovic-iconbox.style7 .texts,
.ovic-iconbox.style8 .texts{
    padding: 186px 0 200px 0;
}
.ovic-accordion.style1 .ovic-iconbox.style10 {
    padding: 20px 10px 13px 0;
}
.ovic-iconbox.style10 .block-number{
    left: auto;
    right: 0;
}
/**TABS**/
.ovic-tabs.style1 .tab-link li.style5.active a:after{
    left: auto;
    right: -5px;
}
/**PRODUCTS**/
.product-item .flash{
    left: auto;
    right: 10px;
}
.ovic-products-style3 .slick-slider .slick-arrow.next{
    right: auto;
    left: 40px;
}
.ovic-products-style3 .slick-slider .slick-arrow.prev{
    left: 0;
    right: auto;
}
.ovic-products.style-4 .ovic-title{
    padding-right: 0;
    padding-left: 20px;
}
.ovic-products.style-4 .ovic-title .text:after{
    left: auto;
    right: 0;
}
.ovic-products.style-4 .tabs-variable{
    float: left;
}
.ovic-products.style-4 .product-item.style-4 .product-thumb{
    float: right;
    margin-right: 0;
    margin-left: 10px;
}
.product-item.style-4 .product-info{
    text-align: right;
}
.product-item.style-4 .product-info .group-variable{
    float: left;
}
.product-item.style-4 .product-info .group-variable > *:first-child{
    margin-left: 35px;
}
.product-item.style-4 .product-info .group-variable > *:last-child{
    margin-left: 18px;
    margin-right: 0;
}
.product-item.list .product-info ul li:before{
    margin-right: 0;
    margin-left: 2px;
}
.ovic-products-style2 .box-title{
    background-position: right center;
    padding-left: 0;
    padding-right: 45px;
}
.ovic-products-style2 .product-info > *{
    text-align: right;
}
.ovic-products-style2 .product-info .price{
    right: auto;
    left: 0;
}
.ovic-products-style7 .product-thumb,
.product-item.style-8 .product-thumb{
    float: right;
    margin-right: 0;
    margin-left: 10px;
}
.product-item.style-8 .product-info{
    text-align: right!important;
}
.product-item.style-9 .ovic-countdown > span {
    margin-left: 15px;
    margin-right: 0;
}
.product-item.style-9 .ovic-countdown > span:last-child{
    margin-right: 0 !important;
    margin-left: 0 !important;
}
.ovic-product.product-item.default .url-container .button{
    margin-left: 10px;
    margin-right: 0;
}
@media (min-width: 1200px) {
    .ovic-products-style6 .box-content{
        padding-right: 40px;
        padding-left: 100px;
    }
}
@media (max-width: 1199px) {
    .product-item:not(.list):not(.style-2):not(.style-1):not(.style-4):not(.style-6) .product-thumb{
        margin-right: 0!important;
        margin-left: 10px;
    }
}
@media (max-width: 991px) {
    .product-item .product-thumb{
        margin:0 auto!important;
        text-align: center;
    }
    .product-item:not(.list):not(.style-2):not(.style-1):not(.style-4):not(.style-6) .product-thumb{
        margin:0 auto!important;
    }
    .product-item.list .product-thumb{
        margin-left: 18px!important;
    }
}
@media (max-width: 767px) {
    .ovic-products .product-item.style-8 .product-thumb{
        float: none;
        margin-left: 0!important;
    }
    .product-item.style-9 .ovic-countdown > span {
        margin-left: 10px;
    }
}
/**MAIL-CHIMP**/
.widget-ovic-mailchimp.style4 .newsletter-form-wrap .submit-newsletter{
    float: left;
    margin-right: 0;
    margin-left: -1px;
}
.ovic-custommenu.style03 li:not(:last-child) {
    border-right: none;
    border-left: 1px solid #b7b7b7;
    padding-right: 0;
    margin-right: 0;
    padding-left: 20px;
    margin-left: 17px;
}
.widget-ovic-mailchimp.style1 .btn-submit,
.widget-ovic-mailchimp.style3 .btn-submit{
    right: auto;
    left: 0;
    border-radius: 0;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.ovic-twitter.default .tweet-info > div{
    margin-left: 0;
    margin-right: 6px;
}
/**BANNER**/
.ovic-banner.style5 .texts{
    right: auto;
    left: 0;
}
.ovic-banner.style1 > div.banner-img{
    padding-right: 0;
    padding-left: 15px;
}
.ovic-banner.style1 .arrow{
    left: auto;
    right: -14px;
    border-right:none;
    border-left-width: 14px;
    border-left-style: solid;
    border-left-color: inherit;
}
@media (max-width: 767px) {
    .ovic-banner.style1 .arrow{
        border-left: 12px solid transparent !important;
        border-right: 12px solid transparent !important;
        border-bottom-width: 14px;
        border-bottom-style: solid;
        border-bottom-color: inherit !important;
        margin-left: 0;
        margin-right: -12px;
        right: 50%;
    }
}
/**MENU**/
.ovic-custommenu.style05 > .widget_nav_menu > .widgettitle:before{
    margin-right: 0;
    margin-left: 20px;
}
.ovic-custommenu.style05 > .widget_nav_menu > .widgettitle:after{
    right: auto;
    left: 20px;
}
.ovic-custommenu.style05 > .widget_nav_menu > .ovic-menu-wapper > .menu > li.menu-item-has-children > a::after{
    float: left;
    content: '\f104';
}
@media (min-width: 1200px) {
    .ovic-custommenu.style05 .widget_nav_menu .ovic-menu-wapper > .menu > li > .sub-menu{
        left: auto;
        right: 100%;
    }
}
@media (max-width: 767px) {
    .ovic-custommenu.style01 .widgettitle:before{
        right: auto;
        left: 0;
    }
}
/**404**/
.page-404 .content-404{
    margin: 0 auto;
    margin-left: 0;
}
.page-404 .button:before{
    content: "\f105";
    text-align: right;
}
/**BLOG INNER**/
.sidebar .search-form .search-submit{
    right: auto;
    left: 4px;
}
.blog-new.blog-standard .post-info,
.blog-new.blog-grid .post-info,
.blog-new .post-read-more{
    text-align: right;
}
.blog-new .post-info .read-more{
    margin-right: 0;
    margin-left: 17px;
}
.blog-new.blog-standard .post-thumb{
    float: right;
    margin-right: 0;
    margin-left: 30px;
}

@media (max-width: 767px) {
    .blog-new.blog-standard .post-thumb{
        float: none;
        margin-left: 0;
    }
}
/*----------------
    CONTACT-FORM
----------------*/
.wpcf7-form > p input,
.wpcf7-form .wpcf7-form-control-wrap > textarea{
    text-align: right;
}
.wpcf7-form > p input.wpcf7-submit{
    float: right;
}
div.wpcf7 .ajax-loader{
    margin: 20px 4px 0 0;
}
/*----------------
    FOOTER
----------------*/
.widget-ovic-iconbox .style1 .icon{
    padding-right: 0;
    padding-left: 20px;
}
.widget-ovic-iconbox .style2 .icon{
    padding-right: 0;
    padding-left: 16px;
}
.content-socials .socials-list{
    padding-right: 0;
}
.ovic-socials .socials-list li:last-child{
    margin-right: 25px;
}
.ovic-socials .socials-list li:first-child{
    margin-right: 0;
}
.widget-recent-post .blog-item .post-thumb{
    float: right;
    margin-right: 0;
    margin-left: 10px;
}
.footer .ovic-socials .socials-list li{
    margin-right: 0;
    margin-left: 5px;
}
.footer .ovic-socials .socials-list li:first-child{
    margin-right: 0;
    margin-left: 0;
}
.footer-copyright .widget_media_image{
    text-align: left;
}
.backtotop{
    right: auto;
    left: 15px;
}
.widget-ovic-mailchimp.style1 .img-newsletter{
    margin-right: 0;
    margin-left: 17px;
}
.widget-ovic-mailchimp.style1 .info{
    margin-right: 0;
    margin-left: 37px;
}
.ovic-iconbox:not(.style2) .icon{
    padding-right: 0;
    padding-left: 20px;
}
.ovic-iconbox.style5 .number{
    left: auto;
    right: calc(50% - 90px);
}
.widget-ovic-mailchimp.style1 .input-text{
    padding-right: 20px;
    padding-left: 125px;
}
.widget-ovic-mailchimp.style1 .btn-submit{
    right: auto;
    left: 0;
    border-radius: 30px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
/*----------------
    RESPONSIVE
----------------*/
@media (min-width: 768px) {
    .single-thumb-vertical .flex-viewport{
        float: left;
    }
    .single-thumb-vertical .flex-control-nav{
        float: right;
    }
    .single-thumb-vertical .has-sidebar .entry-summary, .single-thumb-horizontal .has-sidebar .entry-summary{
        padding-right: 0;
    }
    .single-thumb-vertical .entry-summary .left_summary_content {
        padding-right: 0;
    }
}
@media (min-width: 1025px) {
    .sub-menu{
        text-align: right;
    }
}
@media (min-width: 1200px) {
    .header-nav {
        margin-left: 0;
        /*margin-right: 40px;*/
    }
}
@media (max-width: 1199px) and (min-width: 992px){
    .ovic-products.style-4 .tabs-variable,
    .product-item.style-4 .product-info .group-variable {
        float: none;
    }
    .product-item.list .product-info{
        float: right;
    }
    .product-item.list .product-info ul li{
        margin-right: 0;
        margin-left: 25px;
    }
}
@media (max-width: 1199px) {
    .box-header-info .header-middle-info{
        padding-right: 20px;
    }
    .white-popup .widget-ovic-mailchimp{
        margin-right: 0;
    }
}
@media (max-width: 991px) and (min-width: 768px){
    .product-item.list .product-thumb{
        margin-left: 6px!important;
    }
}
@media (max-width: 991px) {
    .box-header-info .header-middle-info{
        padding-right: 0px;
    }
    .box-header-info .header-middle-info .middle-info{
        margin-right: 0;
        margin-left: 30px;
    }
    .white-popup .widget-ovic-mailchimp{
        margin: 0 auto;
    }
    .mfp-content .mfp-close{
        left: 10px;
    }
    .woocommerce table.wishlist_table thead th, .woocommerce table.wishlist_table tbody td{
        border-left: 1px solid #e6e6e6;
        border-right:transparent;
    }
    .woocommerce .cart-collaterals{
        margin: 0;
    }
    .woocommerce-product-gallery{
        float: none;
    }
}
@media (max-width: 767px) {
    .header-mobile .logo {
        padding-right: 0;
        padding-left: 20px;
    }
    .logo {
        text-align: right;
    }
    .header-control{
        text-align: left;
    }
    .header .form-content{
        right: 0;
    }
    .woocommerce .woocommerce-MyAccount-navigation{
        float: none;
    }
    .footer-copyright .widget_media_image{
        text-align: center;
    }
    .ovic-iconbox.style2.text_right .box-icon{
        float: right;
        margin: 0 0 0 8px;
    }
    .ovic-iconbox.style2.text_right .content{
        text-align: right;
    }
    .product-item.list .product-info{
        float: right;
        padding-right: 0;
        border-right: none;
    }
    .woocommerce-cart-form .shop_table tbody tr td{
        text-align: left;
    }
    .shop_table_responsive tr td:before{
        float: right;
    }
    .entry-summary{
        padding-right: 0;
    }
    .entry-summary .left_summary_content{
        float: none;
        padding: 0;
    }
    .single-thumb-vertical .has-sidebar .entry-summary, .single-thumb-horizontal .has-sidebar .entry-summary{
        padding-right: 0;
    }
    .product-item.list .product-info ul li{
        margin-right: 0;
        margin-left: 25px;
    }
}
@media (max-width: 640px) {
    .grid-view-mode{
        float: right;
    }
    .ovic-products.style-4 .tabs-variable,
    .product-item.style-4 .product-info .group-variable{
        float: none;
    }
    .product-item.list .product-thumb, .product-item.list .product-attr-info, .product-item.list .product-info{
        float: none;
    }
}
/*====RTL-home08->home11====*/
/*Header*/
.header.style-2 .chosen-container-single .chosen-drop{
    left: auto;
    right: 0;
}
.header.style-9 .box-header-info .form-search .btn-submit{
    border-radius: 30px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.header.style-9 .chosen-container-single .chosen-single, .header.style-9 .chosen-container-active.chosen-with-drop .chosen-single{
    text-align: right;
}
.header-style-10 .top-bar-menu,
.header-style-10 .top-menu-part .ovic-menu-wapper{
    float: left;
}
.header-style-10 .top-bar-menu>li{
    margin:0;
}
.header-style-10 .top-bar-menu>li:not(:first-child)>a{
    border-left: none;
    border-right: 1px solid #cecece;
    margin:0 20px 0 0;
    padding:0 20px 0 0;
}
.header-style-10 .user-link{
    margin:0 20px 0 0;
}
.header-style-10 .search_menu li:not(:first-child) {
    border: none;
    border-right: 1px solid rgba(255,255,255,.2);
    margin:0 20px 0 0;
    padding:0 20px 0 0;
}
.header.header-style-10 .header-nav .form-search .btn-submit{
    right: auto;
    left: 0;
}
.header-style-10 .group-cart-link, .header-style-10 .block-nav-category .block-title{
    padding-left: 15px;
    padding-right: 30px;
}
.header.style-11 .header-top-left{
    float: right;
}
.header.style-11 .header-top-right{
    float: left;
}
.header.style-11 .block-userlink{
    margin:0 0 0 13px;
}
.header.style-11 .top-bar-menu>*{
    margin: 0;
}
.header.style-11 .top-bar-menu>li:last-child a{
    padding-left: 0;
    padding-right: 10px;
}
.header.style-11 .top-bar-menu>*:not(:last-child){
    margin:0 0 0 7px;
}
.header.style-11 form.form-search .btn-submit{
    left: 4px;
    right: auto;
}
.header.style-11 .group-cart-link{
    padding: 11px 18px 11px 31px;
}
.header.style-11 .block-minicart{
    margin:0 7px 0 0;
}
.header.style-11 .block-cart-link .text-bag{
    margin:0 0 0 10px;
}
.header.style-11 .group-cart-link .flaticon-bag{
    margin:0 0 0 4px;
}
.header.style-11 .group-cart-link .count:after{
    left: 18px;
    right: auto;
}
.header.style-11 .main-menu>.menu-item:not(:last-child){
    border-right: none;
    border-left: 1px solid #ccc;
}
.header.style-11 .main-menu>.menu-item-has-children{
    padding-right: 19px;
    padding-left: 30px;
}
.ovic-custommenu.style09 .link-text{
    float: left;
}
.ovic-custommenu.style09 .widgettitle:after{
    content: "\f177";
    margin: 0 17px 0 18px;
}
.ovic-custommenu.style09 .widget li:not(:last-child) a:after{
    margin: 0 19px 4px 16px;
}
.ovic-custommenu.style09 .link-text:after{
    display: none;
}
.ovic-custommenu.style09 .link-text:before{
    content: "\f177";
    font-family: 'FontAwesome';
    font-size: 14px;
    margin-right: 12px;
}
.product-item.style-5 .group-button-top{
    right: auto;
    left: 20px;
}
.product-item.style-5 .add-to-cart a{
    margin:0 15px 0 0;
}
.product-item.style-5 .price{
    margin:0 25px 0 0;
}
.product-item.style-12 .group-button{
    right: auto;
    left: 10px;
}
.product-item.style-12 .product-name{
    text-align: right;
}
.product-item.style-12 .price{
    margin: 0 0 23px auto!important;
}
.ovic-tabs.style2 .tab-link,
.ovic-tabs.style3 .tab-link,
.ovic-products.ovic-products-style8 .extent-url{
    float: left;
}
.ovic-tabs.style3 .tab-link li:not(:first-child){
    margin:0 30px 0 0;
}
.ovic-tabs.style3 .shortcode-context .shortcode-banner+.tab-container{
    padding:0 30px 0 0;
}
.widget-ovic-mailchimp.style5 .newsletter-form-wrap{
    text-align: left;
}
.widget-ovic-mailchimp.style5 .info .title{
    margin:0 0 0 22px;
}
.widget-ovic-mailchimp.style5 .info .title:before{
    margin:0 0 0 10px;
}
.widget-ovic-mailchimp.style6 .info{
    float: right;
    padding:0 20px 0 0;
}
.widget-ovic-mailchimp.style6 .info:before{
    left: auto;
    right: 21px;
}
.widget-ovic-mailchimp.style6 .info .subtitle{
    margin:0 28px 0 0;
}
.widget-ovic-mailchimp.style6 .newsletter-form-wrap{
    float: left;
    padding:0 30px 0 0;
}
.widget-ovic-mailchimp.style6 .submit-newsletter{
    right: auto;
    left: 0;
}
.widget-ovic-mailchimp.style6 .submit-newsletter:after{
    background-position: 21px 16px;
}
.ovic-custommenu.style06 .widgettitle{
    float: right;
}
.ovic-custommenu.style06 li{
    margin:0 14px 0 0;
}
.ovic-blog.style-7 .post-style7 .post-info .read-more{
    display: inline-block;
}
.ovic-blog.style-7 .post-style7 .date:before{
    margin:-1px 0 0 10px;
}
.ovic-iconbox.style14 .box-icon{
    float: right;
    margin: 13px 0 0 23px;
}
@media(min-width: 768px){
    .ovic-iconbox.style14.text_right .box-icon{
        float: left;
        margin: 13px 23px 0 0;
    }
    .ovic-iconbox.style14.text_right .box-content{
        text-align: left;
    }
}
@media(min-width: 1500px){
    .ovic-blog.style-7 article.left .post-style7 .post-info{
        padding-left: 30px;
        padding-right: 85px;
    }
    .ovic-blog.style-7 article.right .post-style7 .post-info{
        padding-left: 85px;
        padding-right: 0;
    }
}
@media(min-width: 1800px){
    .header.style-9 .header-control>*{
        margin:0 40px 0 0;
    }
    .header.style-9 .header-control>.block-search {
        margin-left: 165px;
        margin-right: 0;
    }
}
@media(max-width: 1366px) and (min-width: 1200px){
    .product-item.style-1 .add-to-cart a{
        padding: 7px 20px;
    }
}
@media(max-width: 1024px){
    .header.style-8 .block-menu-bar a{
        color: #fff;
    }
    .header.style-11 .header-control .block-menu-bar{
        margin:0 8px 0 0;
    }
}
@media(max-width: 991px){
    .product-item.style-5 .add-to-cart a{
        padding: 0;
    }
    .ovic-products-style7 .product-info{
        padding-right: 10px;
    }
    .ovic-custommenu.style06 .widgettitle{
        margin-right: 0;
    }
    .ovic-tabs.style2 .tab-link{
        float: none;
        text-align: right;
    }
}
@media(max-width: 767px){
    .ovic-tabs.style3 .tab-link{
        text-align: right;
    }
}
@media(max-width: 640px){
    .ovic-tabs .tab-link li .star{
        margin:0 5px 0 -5px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        border-right: 2px solid #e6e6e6!important;
        border-left: 1px solid transparent!important;
    }
    .ovic-tabs .tab-link li.active .star{
        border-right-color: transparent!important;
    }
    .ovic-tabs .tab-link li .star + a{
        margin:0 0 0 5px;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: 0;
        border-left: 2px solid #e6e6e6;
    }
    .ovic-tabs .tab-link li .star + a::before{
        left: auto;
        right: 0;
    }
    .widget-ovic-mailchimp.style5 .info .title{
        margin:0 0 20px;
    }
    .widget-ovic-mailchimp.style5 .info, 
    .widget-ovic-mailchimp.style5 .newsletter-form-wrap{
        text-align: center;
    }
}
@media(max-width: 479px){
    .widget-ovic-mailchimp.style6 .info{
        padding-right: 0;
    }
    .widget-ovic-mailchimp.style6 .newsletter-form-wrap{
        padding-right: 10px;
    }
}
/*====home12====*/
.header.style-12 .top-bar-menu>li:not(:last-child){
    border-left: 1px solid #dbdbdb;
    border-right: none;
}
.header.style-12 .header-top-left .top-bar-menu>li,
.header.style-12 .header-top-right .top-bar-menu>li{
    margin: 0;
}
.header.style-12 .header-top-left .top-bar-menu>li:last-child a{
    padding-left: 0;
    padding-right: 30px;
}
.header.style-12 .header-top-left .top-bar-menu>li:first-child a{
    padding-left: 30px;
    padding-right: 30px;
}
.header.style-12 .header-top-right .top-bar-menu>li:last-child a{
    padding-right: 30px;
    padding-left: 0;
}
.header.style-12 .header-top-right .top-bar-menu>li:first-child a{
    padding-left: 30px;
    padding-right: 0;
}
.header.style-12 .top-bar-menu.ovic-menu li>a>.icon{
    margin-left: 10px;
    margin-right: 0;
}
.header.style-12 .header-control>.block-search{
    margin-left: 60px;
    margin-right: 0;
}
.header.style-12 .header-control .category{
    text-align: right;
}
.header.style-12 .chosen-container-single .chosen-single div{
    left: 17px;
    right: auto;
}
.header.style-12 .chosen-container:after{
    left: 0;
    right: auto;
}
.header.style-12 .block-minicart{
    margin-right: 26px;
    margin-left: 0;
}
.header.style-12 .group-cart-link .count{
    right: 20px;
    left: auto;
}
.header.style-12 .group-cart-link span.amount{
    margin-right: 15px;
    margin-left: 0;
}
.header.style-12 .block-nav-category .block-title .before{
    float: left;
}
.ovic-custommenu.style11 li a:before{
    display: none;
}
.ovic-custommenu.style11 li a:after{
    content: "\f104";
    font-family: 'FontAwesome';
    margin-left: 9px;
}
.ovic-custommenu.style12 li:not(:last-child){
    margin:0 0 0 30px;
}
.ovic-slide.style4 .owl-slick{
    padding:0 0 0 30px;
}
.ovic-slide.style4 .slick-dots{
    left: 0;
    right: auto;
    padding: 0;
}
.ovic-banner.style19 .banner-link{
    margin:0 24px 10px 0;
}
.product-item.style-13 .title-category ul{
    right: 30px;
    left: auto;
}
.product-item.style-13 .product-info{
    text-align: right!important;
    padding: 0 30px 0 8px!important;
}
.product-item.style-13 .add-to-cart a{
    margin:0 0 0 4.5px;
}
.product-item.style-14 .product-inner{
    padding:15px 30px 15px 0;
}
.product-item.style-14 .product-thumb{
    float: right;
}
.product-item.style-14 .product-info{
    padding: 0 20px 0 8px!important;
    text-align: right!important;
}
.product-item.style-13 .flash, .product-item.style-14 .flash{
    left: 0;
    right: auto;
}
.ovic-tabs.style6 .ovic-title{
    margin: 18px 40px 0 0;
}
.ovic-tabs.style6 .tab-link{
    float: left;
    margin:0 0 0 155px!important;
}
.ovic-tabs.style6 .slick-slider .slick-arrow{
    left: 5px;
    right: auto!important;
}
.ovic-tabs.style6 .slick-slider .slick-arrow.next{
    left: 60px;
    right: auto;
}
.widget-ovic-mailchimp.style8 .newsletter-form-wrap{
    text-align: right;
    padding: 3px 30px 3px 0;
}
.widget-ovic-mailchimp.style8 .btn-submit{
    right: auto;
    left: 3px;
}
.widget-ovic-mailchimp.style8 .text-field:after{
    left: auto;
    right: 30px;
}
.ovic-iconbox.style15 .group-button{
    float: left;
}
.ovic-iconbox.style15 .group-button .text-2{
    margin-left: 0;
    margin-right: 7px;
}
.ovic-products-style9 .box-info+.better-height{
    padding-right: 7px;
    padding-left: 0;
}
.ovic-products-style9 .slick-slider .slick-arrow{
    left: auto;
    right: -187px;
}
.ovic-products-style9 .slick-slider .slick-arrow.next{
    right: -260px;
    left: auto;
}
.ovic-countdown > span{
    margin-right: 0;
    margin-left: 10px;
}
@media(min-width: 1200px){
    .header.style-12 .vertical-wrapper+.box-header-nav .header-nav .main-menu>.menu-item:first-child{
        padding-right: 75px;
        padding-left: 20px;
    }
}
@media(max-width: 1499px){
    .product-item.style-13 .group-button .inner>*:not(.add-to-cart){
        margin:0 2px;
    }
    .product-item.style-13 .add-to-cart a{
        margin-left: 2px;
    }
    .ovic-products-style9 .slick-slider .slick-arrow{
        right: -163px;
    }
    .ovic-products-style9 .slick-slider .slick-arrow.next{
        right: -236px;
    }
}
@media(max-width: 1199px){
    .header.style-12 .top-bar-menu>*>a{
        padding: 8px 15px!important;
    }
    .header.style-12 .header-control>.block-search{
        margin-left: 10px;
    }
    .ovic-tabs.style6 .tab-link{
        margin: 0!important;
    }
    .ovic-tabs.style6 .ovic-title{
        margin-right: 10px;
    }
}
@media(max-width: 991px){
    .ovic-iconbox.style15 .group-button{
        float: none;
    }
}
@media(max-width: 767px){
    .ovic-tabs.style6 .tab-link{
        float: none;
    }
    .ovic-banner.style19 .texts{
        margin-right: 15px;
    }
}
@media(max-width: 479px){
    .widget-ovic-mailchimp.style8 .newsletter-form-wrap{
        padding-right: 3px;
    }
}