	/*
  	Flaticon icon font: Flaticon
  	Creation date: 30/06/2018 03:48
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}
div[data-vc-shortcode="ovic_product"] .vc_autocomplete-field .vc_autocomplete li.vc_autocomplete-input input{
    display: inline-block !important;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-user-image-with-black-background:before { content: "\f100"; }
.flaticon-comment-white-oval-bubble:before { content: "\f101"; }
.flaticon-heart-black-shape:before { content: "\f102"; }
.flaticon-pack-of-oats:before { content: "\f103"; }
.flaticon-human-artery:before { content: "\f104"; }
.flaticon-bag:before { content: "\f105"; }
.flaticon-fresh-juice:before { content: "\f106"; }
.flaticon-heart-1:before { content: "\f107"; }
.flaticon-placeholder-1:before { content: "\f108"; }
.flaticon-magnifying-glass:before { content: "\f109"; }
.flaticon-fish:before { content: "\f10a"; }
.flaticon-close:before { content: "\f10b"; }
.flaticon-grid:before { content: "\f10c"; }
.flaticon-fruit:before { content: "\f10d"; }
.flaticon-greenhouse:before { content: "\f10e"; }
.flaticon-peanut-butter:before { content: "\f10f"; }
.flaticon-fast-food:before { content: "\f110"; }
.flaticon-harvest:before { content: "\f111"; }
.flaticon-headset:before { content: "\f112"; }
.flaticon-papaya:before { content: "\f113"; }
.flaticon-onion:before { content: "\f114"; }
.flaticon-cauliflower:before { content: "\f115"; }
.flaticon-heart:before { content: "\f116"; }
.flaticon-tea:before { content: "\f117"; }
.flaticon-grape:before { content: "\f118"; }
.flaticon-chop:before { content: "\f119"; }
.flaticon-medal:before { content: "\f11a"; }
.flaticon-bullet:before { content: "\f11b"; }
.flaticon-placeholder:before { content: "\f11c"; }
.flaticon-clock:before { content: "\f11d"; }
.flaticon-message:before { content: "\f11e"; }
.flaticon-smartphone:before { content: "\f11f"; }
.flaticon-truck:before { content: "\f120"; }
.flaticon-beer:before { content: "\f121"; }
.flaticon-weekly-calendar:before { content: "\f122"; }
.flaticon-valentines-heart:before { content: "\f123"; }
.flaticon-list-button-with-3-elements:before { content: "\f124"; }