@media only screen and (min-width: 768px) {
    .main-container .post-content > *,
    .main-container .page-main-content > *,
    .fullwidth-template .container > * {
        margin: 32px 0;
        margin: 0;
    }
    .fullwidth-template .container > .vc_row{
        margin-left: -15px;
        margin-right: -15px;
    }
}
.main-container .has-small-font-size,
.main-container .has-normal-font-size,
.main-container .has-large-font-size,
.main-container .has-huge-font-size {
    line-height: 1.2;
}
/* ALIGN FULL */
@media only screen and (min-width: 768px) {
    .main-container .alignfull,
    .fullwidth-template .alignfull {
        margin-left: calc(50% - 50vw);
        margin-right: calc(50% - 50vw);
        width: auto;
        max-width: 1000%;
    }
    
    .main-container .alignwide,
    .fullwidth-template .alignwide {
        margin-left: calc(25% - 25vw);
        margin-right: calc(25% - 25vw);
        width: auto;
        max-width: 1000%;
    }
    
    .main-container .alignwide img,
    .main-container .alignfull img,
    .fullwidth-template .alignwide img,
    .fullwidth-template .alignfull img {
        display: block;
        margin: 0 auto;
    }
}